<div class="card text-center">
  <div class="card-header">


    <div class="card text-center">
      <div class="card-header">
        <h1>Peliculas Completas</h1>
      </div>
      <div class="card-body">
        <iframe width="1000" height="300" src="https://www.youtube.com/embed/bhAWyAVGWcc" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <br><br>
        <a href="/peliculas" class="btn btn-primary">Ver Peliculas</a>
      </div>
      <div class="card-footer text-muted">

      </div>
    </div>
  </div>


